# Nested folder
odooxodoo-main/

# Dependencies
node_modules/
**/node_modules/

# Production build outputs
dist/
**/dist/
build/
**/build/

# Environment variables
.env
.env.local
.env.*.local
*.env
!.env.example

# Logs and debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
otp-debug.txt
**/otp-debug.txt

# OS metadata
.DS_Store
Thumbs.db

# IDE and Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
